// Navbar
//

.navbar {
  background-color: $light;
}

.nav-link {
  &.active {
    position: relative;
    &:after {
      content: '';
      background-color: $primary;
      display: inline-block;
      border-radius: 50%;
      height: 4px;
      width: 4px;
    }
  }
}

@include color-mode(dark) {
  .navbar {
    background-color: $dark;
  }
}