// Navbar
//

.nav-link {
  &.active {
    position: relative;
    &:after {
      content: '';
      background-color: $primary;
      display: inline-block;
      border-radius: 50%;
      height: 4px;
      width: 4px;
    }
  }
}
