// Tables
//


.table {
  .col-id {
    text-align: center;
    width: 2.4rem;
    display: none;
  }

  .col-rpm {
    text-align: center;
  }

  .col-track {
    &:hover {
      cursor: pointer;

      .-icon-play {
        opacity: .25;
        &:hover { opacity: .5; }
      }
    }

    .-icon-play {
      text-decoration: none;
      opacity: 0;
      transition: opacity 400ms ease;
    }
  }

  .col-quantity {
    text-align: center;
    vertical-align: middle;
    min-width: 4rem;
    white-space: nowrap;
  }

  .col-actions {
    text-align: right;
    vertical-align: middle;
  }
}



.table-header-sticky {
  display: block;
  max-height: 70vh;

  thead {
    tr {
      th {
        position: sticky;
        z-index: 1;
        top: 0;
      }
    }
  }
}



// Specifics tables

#vinyls-entities {
  td {
    line-height: 1.25;
    vertical-align: middle;
  }

  tr {
    &.disabled {
      --bs-table-accent-bg: #{$gray-800};
      color: $gray-700;
      pointer-events: none;
      user-select: none;
    }
  }
}


#adverts-entities {
  .col-images {
    width: 36%;
  }
}
