// Tables
//


.table {
  .col-id {
    text-align: center;
    width: 2.4rem;
    display: none;
  }

  .col-select {
    text-align: center;
    vertical-align: middle;
    position: relative;
    .stretched-link {
      cursor: pointer;
    }
  }

  .col-rpm {
    text-align: center;
  }

  td.col-track {
    &:hover {
      cursor: pointer;

      .-icon-play {
        opacity: .25;
        &:hover { opacity: .5; }
      }
    }

    .-icon-play {
      text-decoration: none;
      opacity: 0;
      transition: opacity 400ms ease;
    }
  }

  .col-quantity {
    text-align: center;
    vertical-align: middle;
    min-width: 4rem;
    white-space: nowrap;
  }

  .col-actions {
    text-align: center;
    vertical-align: middle;
    min-width: 3.4rem;
    &.-is-admin {
      min-width: 8.4rem;
    }
  }
}

.table-sortable {
  .-sort-icon { opacity: .75; }

  th {
    cursor: pointer;
    &.no-sort { cursor: inherit; }
    &:hover {
      .-sort-asc { color: $link-hover-color; }
    }
  }

  th.descending {
    .-sort-desc { color: $link-color; }
    &:hover {
      .-sort-asc { color: $link-hover-color; }
    }
  }

  th.ascending {
    .-sort-asc { color: $link-color; }
    &:hover {
      .-sort-desc { color: $link-hover-color; }
    }
  }
}

.table-header-sticky {
  display: block;
  max-height: 70vh;

  thead {
    tr {
      th {
        position: sticky;
        z-index: 1;
        top: 0;
      }
    }
  }
}


#adverts-entities {
  .col-images {
    width: 36%;
  }
}
