.icon-check-circle {
  &:before {
    content: $icon-check-circle;
  }
}
.icon-chevron-down {
  &:before {
    content: $icon-chevron-down;
  }
}
.icon-chevron-up {
  &:before {
    content: $icon-chevron-up;
  }
}
.icon-clipboard {
  &:before {
    content: $icon-clipboard;
  }
}
.icon-code {
  &:before {
    content: $icon-code;
  }
}
.icon-coffee {
  &:before {
    content: $icon-coffee;
  }
}
.icon-disc {
  &:before {
    content: $icon-disc;
  }
}
.icon-edit {
  &:before {
    content: $icon-edit;
  }
}
.icon-file-minus {
  &:before {
    content: $icon-file-minus;
  }
}
.icon-file-plus {
  &:before {
    content: $icon-file-plus;
  }
}
.icon-file-text {
  &:before {
    content: $icon-file-text;
  }
}
.icon-heart {
  &:before {
    content: $icon-heart;
  }
}
.icon-loader {
  &:before {
    content: $icon-loader;
  }
}
.icon-log-out {
  &:before {
    content: $icon-log-out;
  }
}
.icon-minus-circle {
  &:before {
    content: $icon-minus-circle;
  }
}
.icon-minus-square {
  &:before {
    content: $icon-minus-square;
  }
}
.icon-pause {
  &:before {
    content: $icon-pause;
  }
}
.icon-pause-circle {
  &:before {
    content: $icon-pause-circle;
  }
}
.icon-phone {
  &:before {
    content: $icon-phone;
  }
}
.icon-play {
  &:before {
    content: $icon-play;
  }
}
.icon-play-circle {
  &:before {
    content: $icon-play-circle;
  }
}
.icon-plus {
  &:before {
    content: $icon-plus;
  }
}
.icon-plus-circle {
  &:before {
    content: $icon-plus-circle;
  }
}
.icon-plus-square {
  &:before {
    content: $icon-plus-square;
  }
}
.icon-power {
  &:before {
    content: $icon-power;
  }
}
.icon-trash {
  &:before {
    content: $icon-trash;
  }
}
.icon-user {
  &:before {
    content: $icon-user;
  }
}
.icon-user-plus {
  &:before {
    content: $icon-user-plus;
  }
}
.icon-users {
  &:before {
    content: $icon-users;
  }
}
.icon-close {
  &:before {
    content: $icon-close;
  }
}
.icon-close-circle {
  &:before {
    content: $icon-close-circle;
  }
}
