.icon-chevron-down {
  &:before {
    content: $icon-chevron-down;
  }
}
.icon-chevron-up {
  &:before {
    content: $icon-chevron-up;
  }
}
.icon-code {
  &:before {
    content: $icon-code;
  }
}
.icon-coffee {
  &:before {
    content: $icon-coffee;
  }
}
.icon-disc {
  &:before {
    content: $icon-disc;
  }
}
.icon-edit {
  &:before {
    content: $icon-edit;
  }
}
.icon-heart {
  &:before {
    content: $icon-heart;
  }
}
.icon-minus-circle {
  &:before {
    content: $icon-minus-circle;
  }
}
.icon-minus-square {
  &:before {
    content: $icon-minus-square;
  }
}
.icon-plus {
  &:before {
    content: $icon-plus;
  }
}
.icon-plus-circle {
  &:before {
    content: $icon-plus-circle;
  }
}
.icon-plus-square {
  &:before {
    content: $icon-plus-square;
  }
}
.icon-trash {
  &:before {
    content: $icon-trash;
  }
}
.icon-user {
  &:before {
    content: $icon-user;
  }
}
.icon-user-plus {
  &:before {
    content: $icon-user-plus;
  }
}
.icon-users {
  &:before {
    content: $icon-users;
  }
}
