$icomoon-font-family: "icomoon" !default;
$icomoon-font-path: "../../public/build/fonts/icomoon" !default;

$icon-chevron-down: "\e90e";
$icon-chevron-up: "\e90f";
$icon-code: "\e900";
$icon-coffee: "\e901";
$icon-disc: "\e902";
$icon-edit: "\e903";
$icon-heart: "\e904";
$icon-minus-circle: "\e90c";
$icon-minus-square: "\e90d";
$icon-pause: "\e910";
$icon-pause-circle: "\e914";
$icon-play: "\e911";
$icon-play-circle: "\e915";
$icon-plus: "\e905";
$icon-plus-circle: "\e906";
$icon-plus-square: "\e907";
$icon-trash: "\e908";
$icon-user: "\e909";
$icon-user-plus: "\e90a";
$icon-users: "\e90b";
$icon-close: "\e912";
$icon-close-circle: "\e913";
