$icomoon-font-family: "icomoon" !default;
$icomoon-font-path: "../../public/build/fonts/icomoon" !default;

$icon-code: "\e900";
$icon-coffee: "\e901";
$icon-disc: "\e902";
$icon-edit: "\e903";
$icon-heart: "\e904";
$icon-plus: "\e905";
$icon-plus-circle: "\e906";
$icon-plus-square: "\e907";
$icon-trash-2: "\e908";
$icon-user: "\e909";
$icon-user-plus: "\e90a";
$icon-users: "\e90b";
