<div class="modal fade" id="modal-vinyl-samples" tabindex="-1" aria-labelledby="modal-vinyl-samples" aria-hidden="true">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="modal-header pb-1">
        <h5 class="modal-title" id="modal-vinyl-samples-label">
          <span class="bi-info-circle-fill text-primary me-1"></span> Détail des exemplaires
        </h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fermer"></button>
      </div>
      <div class="modal-body small pt-0 pb-2">
        Retrouvez ci-dessous le récapitulatif de l'état des faces, de la présence ou non de la pochette ainsi que son état et le prix.
      </div>
      <div class="modal-summary pb-2"></div>
    </div>
  </div>
</div>
