
// NOTE Variables & Mixins are located before bootstrap to override his default variables
//

@import 'app/variables';
// @import 'app/mixins';


// Libraries

@import 'bootstrap/bootstrap';
@import 'icomoon/icomoon';
@import 'clipboardJS/clipboardJS';


// App itself

@import 'app/type';
@import 'app/form';
@import 'app/tables';
@import 'app/ratio';
@import 'app/lists';
@import 'app/utilities';
@import 'app/position';
@import 'app/popover';


// App helpers (position, ...)

@import 'app/helpers';



.app-logo {
  font-family: "Space Mono";
  font-weight: 700;
}


.app-body {
  min-height: 80vh;
}



.bg-pattern {
  > * {
    position: relative;
    z-index: 1;
  }

  &:after {
    content: '';
    position: absolute;
    background: url('../../public#{$theme-root-images}/bg/webb-dark.png');
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: .1;
    pointer-events: none;
  }

  &.-fixed {
    &:after {
      position: fixed;
    }
  }
}



.app-player {
  position: sticky;
  z-index: $zindex-modal + 10;
  bottom: 0;
  right: 0;
  width: 100%;
  overflow: hidden;

  .-inner {
    background-color: darken($dark, 4%);
    padding: .8rem .4rem;
  }

  .-infos {
    font-size: 1rem;
    line-height: 1;
    position: relative;
    z-index: 1;
    padding-left: 3.2rem;
  }
  .-artist, .-title {
    padding-right: 1.8rem;
    // Maximize to one line (with "...")
    text-overflow: ellipsis;
    white-space: normal;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
  .-artist {
    color: $gray-400;
    font-size: .7em;
    margin-bottom: .2em;
  }
  .-title {
    color: $gray-100;
    font-size: 1em;
    font-weight: bold;
    line-height: 1.2;
  }
  .-close {
    background-color: rgba(255, 255, 255, .08);
    color: $gray-600;
    font-size: 1.2em;
    line-height: 1;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    right: .2em;
    margin-top: -.8em;
    padding: .2em .2em .2em .2em;
    cursor: pointer;
    transition: color 400ms ease,
      box-shadow 400ms ease;

    &:hover {
      color: #fff;
      box-shadow: 0 0 0 .18em rgba(255, 255, 255, .025);
    }
  }

  .-player {
    border-radius: .2rem;
    overflow: hidden;
    //
    position: absolute;
    z-index: 5;
    width: 2.8rem;
    left: .25rem;
    top: 50%;
    margin-top: -1.4rem;
  }
}


.app-artist-single {
  .-artist-avatar {
    position: relative;
    z-index: 1;

    img {
      width: 100%;
    }

    &.-is-sold-out {
      img {
        opacity: .5;
        filter: grayscale(1);
      }

      &:after {
        content: "sold-out !";
        color: $white;
        font-size: 2.4em;
        font-weight: bold;
        text-shadow: 0 0 0.5em #000;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-left: -2.3em;
        margin-top: -.8em;
        transform: rotate(-15deg) scale(1.2);
        pointer-events: none;
      }
    }
  }
}


#modal-manage-advert {
  .form-control-quantity {
    font-size: 1.4rem;
  }

  .form-multi-select {
    position: relative;
    z-index: 1;

    .-vinyls-total-selected {
      position: absolute;
      right: 1rem;
      pointer-events: none;
    }
  }

  .-item-vinyl { /* [...] */ }

  .-vinyl-tracks, .-vinyl-artists {
    line-height: 1.2;
  }
}


#modal-manage-booking {
  textarea {
    min-height: 8rem;
  }
}


@include media-breakpoint-up(md) {
  .app-player {
    position: fixed;
    width: 12rem;
    bottom: 5rem;

    .-inner {
      border-radius: .3rem 0 0 .3rem;
      padding: .4rem;
    }

    .-player {
      position: relative;
      margin-top: 0;
      width: 100%;
      top: 0;
      left: 0;
    }

    .-infos {
      font-size: .85rem;
      padding-left: 0;
      margin-bottom: .2rem;

      .-artist, .-title {
        // De-maximize
        text-overflow: inherit;
        white-space: normal;
        display: block;
        // -webkit-line-clamp: 1;
        // -webkit-box-orient: vertical;
        overflow: visible;
      }
    }
  }
}

@include media-breakpoint-up(lg) {
  .app-player {
    width: 14rem;

    .-infos {
      font-size: 1rem;
      margin-top: .2rem;
      margin-bottom: .4rem;
    }
  }
}

@include media-breakpoint-up(xl) {
  .app-player {
    width: 16rem;
  }
}
