{% extends 'base.html.twig' %}

{% block body %}
  <div class="container">
    {% include 'components/statistics.html.twig' with {
      statistics : [
        {
          'label': 'Quantité disponible',
          'amount': quantity_available,
          'total': total_vinyls,
          'total_css_class': '-vinyls-total-quantity',
          'progress_bar': true
        },
        {
          'label': 'Nb. vinyle avec pochette',
          'amount': total_vinyls_cover - nb_vinyls_cover_sold,
          'total': total_vinyls_cover,
          'progress_bar': true
        },
        {
          'label': 'Nombre de vinyle unique',
          'amount': vinyls|length,
          'total': quantity_available
        },
        {
          'label': 'Nombre d\'artistes',
          'amount': artists|length
        }
      ]
    } %}

    <hr>

    <h1 class="mb-1">
      <span class="bi-disc text-primary"></span>
      Liste des vinyles{% if vinyls is not empty %} <small class="fw-normal text-muted">(<span class="-vinyls-total-quantity">{% if is_granted('ROLE_VIEWER') %}{{ total_vinyls }}{% else %}{{ quantity_available }}{% endif %}</span>)</small>{% endif %}
    </h1>
    {% if vinyls is not empty %}
      {# Vinyls selected toolbar #}
      <div class="toolbox-selected-vinyls card text-secondary sticky-top -after-header mb-2" data-bs-theme="light">
        <div class="card-body py-1 py-lg-2">
          <div class="small row align-items-center">
            <div class="col-12 col-lg-7 pe-lg-0 lh-1 d-none d-lg-block">
              Cochez les vinyles que vous souhaiteriez <b>réserver</b> ou <b>copier la liste</b> pour la transmettre ensuite.
            </div>
            <div class="col-12 col-lg-5 text-center text-lg-end">
              {# Amount of vinyls selected #}
              <div class="col-12 col-sm-auto d-inline me-2 mb-1 mb-sm-0">
                <span class="-amount fw-bold">0</span>
                <span class="-text-selected" data-js-text-singular="sélectionné" data-js-text-plural="sélectionnés">
                  sélectionné
                </span>
              </div>
              {# Actions #}
              <button class="btn btn-sm btn-secondary btn-selected-vinyls btn-clipboard ms-sm-3"
                type="button" name="copy" data-clipboard-target="#vinyls-selected-to-copy" disabled>
                Copier
              </button>
              <button class="btn btn-sm btn-secondary btn-selected-vinyls ms-sm-1"
                type="button" name="book" data-bs-toggle="modal" data-bs-target="#modal-manage-booking" disabled>
                Réserver
              </button>
              <div class="clipboardJS-hidden-data" id="vinyls-selected-to-copy"></div>
            </div>
          </div>
        </div>
      </div>
      {# Vinyls list #}
      {% include 'components/lists/vinyls-card.html.twig' %}
    {% else %}
      <div class="alert alert-secondary fw-bold">
        Aucun vinyle à afficher.
      </div>
    {% endif %}
  </div>
{% endblock %}
