{# Footer #}
<footer class="app-footer text-muted lh-sm small">
  <div class="container py-3 -border-top -border-secondary">
    <div class="row align-items-center">
      <div class="col-md-6 my-1">
        © {{ 'now' | date('Y') }} - Site web conçu avec un peu de
        <abbr title="code" class="icon bi-code" data-bs-toggle="tooltip"></abbr>
        et beaucoup de
        <abbr title="passion" class="icon bi-heart" data-bs-toggle="tooltip"></abbr>
      </div>
      <div class="col-md-6 my-1 text-md-end">
        <ul class="list-inline mb-0">
          <li class="list-inline-item">
          {% if is_granted('ROLE_ADMIN') %}
            <a href="{{ path('import_csv') }}">
              Import CSV
            </a>
          {% else %}
            {% if is_granted('ROLE_VIEWER') == false %}
              <a href="{{ path('login') }}" class="text-decoration-none">
                Connexion
              </a>
            {% endif %}
          {% endif %}
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
