{# TODO add no-script support
  if(has_javascript & svg_support) then add <svg> #}
{#
<noscript>
  <img src="{{ asset('/images/logo.png') }}" class="shuri-logo shuri-logo--no-script" alt="Logo de {{ identity.last_name }} {{ identity.first_name }}">
</noscript>
#}
{% set is_home = app.request.attributes.get('_route') == 'home' %}

{# SVG Logo #}
<span class="app-logo">
  Apo<span{% if is_home %} class="text-primary"{% endif %}>.</span>
</span>
